@model ShBazmool.Models.Article
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-danger" asp-validation-summary="All"></div>
<div class="form-group">
    <label asp-for="Title" class="control-label">اسم المفال</label>
    <input asp-for="Title" type="text" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Author" class="control-label">اسم الشيخ</label>
    <input asp-for="Author" type="text" value="الشيخ محمد بن عمر بازمول" class="form-control" />
    <span asp-validation-for="Author" class="text-danger"></span>
</div>

<div class="form-group">
    
    <input asp-for="DatePublished" value="@DateTime.Now" type="datetime" />
    <label asp-for="DatePublished" class="control-label">تاريخ</label>
    <span asp-validation-for="DatePublished" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label">المحتوى</label>
    <textarea asp-for="Description" type="text" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Material" class="control-label">مقال</label>
    <textarea asp-for="Material" type="text" class="form-control"> </textarea>
    <span asp-validation-for="Material" class="text-danger"></span>
</div>

<div class="form-group">
    <input type="Submit" value="ارفع" class="btn btn-default" />
</div>
